* {
  margin: 0;
  padding: 0;
}

.App {
  display: flex;
  justify-content: space-between;
}

.loading-news {
  display: inline-block;
  text-align: center;
  width: 100%;
  height: 100vh;
  position: relative;
}

.spinner {
  position: absolute;
  display: inline-block;
  top: 50%;
}

.sources {
  h4 {
    margin-bottom: 10px;
  }
  height: 90vh;
  overflow-y: scroll;
  width: 22%;
  margin-top: 10px;
  margin-left: 10px;
}

.news {
  width: 75%;
  overflow: auto;

  .articles {
    margin-top: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;

    .article {
      margin-bottom: 20px;
      padding: 15px;
      border: 1px solid #f7f7f7;
      border-radius: 5px;
      margin-right: 20px;
      background-color: #f7f7f7;
      width: 45%;
      .author {
        margin-right: 5px;
        margin-top: 10px;
        color: rgb(92, 168, 106);
      }
      .story {
        margin-top: 10px;
      }

      img {
        width: 100%;
        margin-top: 10px;
      }

      a {
        color: rgb(70, 136, 181);
      }
    }
  }
}

.choose-src {
  width: 100%;
  text-align: center;
}
